<div class="content-wrap">
   
<form id="query" class="form-inline">
        <button type="button" class="btn btn-primary add-btn">添加文章</button>
    </form>
     <table class="table table-bordered table-striped task-table" id="list">
        <thead>
            <tr>
                <th>头图</th>
                <th>标题</th>
                <th>类型</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody id="listBody">
        </tbody>
    </table>

    <div id="editP" style="display:none;">
        <div id="editBox">

        </div>
         <div id="editor">
        </div>
    </div>


    <div id="showP" style="display:none;">
        <div>标题：<span id="showTitle"></span></div>
        <div>头图 <img id="showImg" height="100" /></div>
        <div>类型<span id="showType"></span></div>
        <div>内容<div id="showContent"></div></div>
    </div>

    <div id="delBox" style="display:none;">
        删除无法恢复，确定要删除？
    </div>

    <p class="alert alert-success" id="bgMsg" style="opacity:0">操作成功!</p>

    <script id="listTemp" type="text/x-jquery-tmpl">
        <tr data-id="${_id}">
            <td><img src="/toutu/${img}.jpg" height="100" /></td>
            <td><a target="_blank" href="atc/view?id=${_id}">${title}</a></td>
            <td>${type}</td>
            <td>
                <a href="#" type="button" class="show-btn">查看</a> |
                <a href="#" type="button" class="edit-btn">修改</a> |
                <a href="#" type="button" class="del-btn">删除</a>
            </td>
        </tr>
    </script>

    <script id="editFormTemp" type="text/x-jquery-tmpl">
        <form id="editform" role="form">
            <div class="form-group">
              <label for="title">标题</label>
              <input type="text" class="form-control" id="title" name="title" value="${title}">
            </div>
            <div class="form-group">
            <label for="img">选择头图</label>
            <input type="button" id="dictFile" name="dictFile" value="点击上传">
                <div id="displayBox" style="display:none;">
                <img id="displayImg" height="100" src="${img}" />
                <span class="close" style="float:none;margin-top:2px;"></span>
                <input type="hidden" id="imgInput"/>
             </div>
             
            </div>
             <div class="form-group">
                 <label for="img">类型</label>
              <input type="text" class="form-control" id="type" name="type" value="${type}">
            </div>
            <input type="hidden" value="${_id}" id="ids" name="_id">
        </form>
    </script>

    <script type="text/javascript" src="js/wang/wangEditor.min.js"></script>
    <script type="text/javascript">
        var E = window.wangEditor
        var editor = new E('#editor')
        editor.customConfig.uploadImgShowBase64 = true 
        editor.create()
    </script>

</div>  