<div style="width:300px;margin-left:-150px;margin-top:-150px;position:absolute;top:50%;left:50%;">
<form id="editform" role="form">
      <div class="col-xs-12">
        <div class="form-group">
        <label for="foodName">用户名</label>
              <input type="text" class="form-control" id="name" name="name"/>
        </div>
        <div class="form-group">
        <label for="foodHot">密码</label>
              <input type="password" class="form-control" id="pass" name="pass"/>
        </div>
        <div class="form-group">
              <input id="sub" type="button" value="提交"/>
      </div>
    </form>
</div>