<div class="content-wrap">
    <form id="queryBox" class="form-inline">
        <div class="form-group">
            <label for="userQ">创建人</label>
            <input type="text" class="form-control" id="userQ" name="userQ">
        </div>
        <div class="form-group">
            <label for="typeQ">记录类型</label>
            <select class="form-control" id="typeQ" name="typeQ">
                <option value="">不限</option>
                <option value="0">食物</option>
                <option value="1">运动</option>
                <option value="1">体重</option>
            </select>
        </div>
        <div class="form-group">
            <label for="dateQ">日期</label>
            <input type="text" class="form-control" id="dateQ" name="dateQ">
        </div>
        <button type="button" class="btn btn-primary query-btn">查询</button>
        <button type="button" class="btn btn-primary add-btn">新建</button>
         <button type="button" class="btn btn-primary delall-btn">批量删除</button>
    </form>
     <table class="table table-bordered table-striped task-table" id="listBox">
        <thead>
            <tr>
                 <th width="5%"><input type="checkbox" value="1"  class="all-check" /></th>
                <th width="30%">类型</th>
                <th>日期</th>
                <th>名称</th>
                <th>量</th>
                <th>热量</th>
                <th>用户</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody id="listBody">
        </tbody>
    </table>

    <div id="editBox" style="display:none;">

    </div>

    <div id="delBox" style="display:none;">
        删除无法恢复，确定要删除？
    </div>

    <p class="alert alert-success" id="bgMsg" style="opacity:0">操作成功!</p>
</div>

<script id="editFormTemp" type="text/x-jquery-tmpl">
    <div class="container-fluid">
    <div class="row">
    <form id="editform" role="form">
       {{if _id}}
            <input type="hidden" name="_id" value=${_id} />
       {{/if}}
      <div class="col-xs-12">
        <div class="form-group">
        <label for="type">类型</label>
              <input type="text" class="form-control" id="type" name="type" value="${type}">
        </div>
        <div class="form-group">
        <label for="value">值</label>
              <input type="text" class="form-control" id="value" name="value" value="${value}">
        </div>
        <div class="form-group">
        <label for="date">日期</label>
              <input type="text" class="form-control" id="date" name="date" value="${date}">
        </div>
        <div class="form-group">
        <label for="user">用户</label>
              <input type="text" class="form-control" id="user" name="user" value="${user}">
        </div>
      </div>
    </form>
    </div>
    </div>
</script>

<script id="listTemp" type="text/x-jquery-tmpl">
    <tr data-itemid="${_id}" data-itemname="${sportName}">
        <td width="5%"><input class="item-check" type="checkbox"/></td>
        <td width="15%">${type}</td>
        <td >${date}</td>
        <td >${name}</td>
        <td >${value}</td>
        <td >${hot}</td>
        <td >${user}</td>
        <td>
            <a href="javascript:;" type="button" class="edit-btn">编辑</a>
            <a href="javascript:;" type="button" class="del-btn">删除</a>
        </td>
    </tr>
</script>

